{% extends 'directory/base.html' %}

{% block title %} Teacher Directory {% endblock %}

{% block content %}

         <div class="container">
   <!-- /container -->
      <div class="padding">
    <div class="col-md-8">
        <!-- Column -->
  
        <div class="card"> <img class="card-img-top" src="/static/school.png" alt="Card image cap">
            <div class="card-body little-profile text-center">
            {% if not teacher.profile_picture.url %}  
             <div class="image"> <img src="{{ teacher.getimage }}" class="rounded" width="155"> </div> 
           {% else %}
            <div class="image"> <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format                        &fit=crop            &w=500&q=80" class="rounded" width="155"> </div>
           {% endif %}  
               
                
                <h3 class="m-b-0">{{teacher}}</h3>
                <p>{{teacher.email}}</p>
                 <a  class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Call {{teacher.phone_number}}</a>
                <div class="row text-center m-t-20">
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">First Name</h3><small>{{teacher.first_name}}</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">Last Name</h3><small>{{teacher.last_name}}</small>
                    </div>
                    <div class="col-lg-4 col-md-4 m-t-20">
                        <h3 class="m-b-0 font-light">Room Number</h3><small>{{teacher.room_number}}</small>
                    </div>
                    
                     <div class="col-lg-4 col-md-4 ">
                     <h4> Subjects: </h4>
                     </div>
                       <div class="col-lg-8 col-md-8 ">
                    {% for subject in teacher.subjects.all %}   
                      {{subject}}, 
                    {% endfor %}
                    </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>
  
  </div>
<footer class="container">
    <p>&copy; Omer Suliman March 27-2021</p>
</footer>
{% endblock %}